  <link rel="stylesheet" href="/css/jquery.ui.tabs.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>  
<div class="">
<form name="phrasesearch" id="pharsesearch" method="POST" action="#">
<p>Search Bibliography by Search Phrase:</p>
<p>
  <select name="searchType" id="searchType">
        <option value="keyword" selected>Keyword</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="subject">Subject</option>
        <option value="callno">Call Number</option>
  </select>
  <input type="text" name="searchText" size="30" maxlength="256" style="width:242px;">
  <input type="hidden" name="sortBy" value="default">
  <input type="hidden" name="tab" value="opac">
  <input type="hidden" name="lookup" value="N">
  <input type="submit" value="Search" class="button"></p>
</form>
</div>
<div id="tabs">
	<!-- just add as much tabs as you want -->
  <ul id="tabsul"></ul>
  <!-- reflect your tabs here -->
</div>
  <script src="/javascript/jquery.js?v=1.9.1"></script>
  <script src="/javascript/jquery-ui.js?v=1.10.1"></script> 
  <script src="/javascript/jquery.quick.pagination.min.js?v=1.10.1"></script> 
  <script src="/javascript/trans_ar.js?v=1.10.1"></script> 
  <script src="/javascript/script.js"></script>
